/* Style inputs, select elements and textareas */
input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    background-color: #780000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: rgb(178, 151, 0);
}


/* Style the container */
.container {
    width: 40%;
    min-width: 325px;
    border-radius: 5px;
    background-color: #f2f2f2ce;
    padding: 30px;
    margin: 5rem auto;
}


/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */


.body {
    display: flex;
    width: 80%;
}


.main:after {
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    display: block;
    visibility: hidden;
}


@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}


/* @mixin for-phone-only { */
@media (max-width: 599px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .mainbody {
        float: none;
        width: auto;
    }

    .container {
        margin-bottom: 10rem;
        width: 70%;
    }

    .foot {
        display: flex;

    }

    .foot li a {
        font-size: 2vw;
    }

}

/* @mixin for-tablet-portrait-up { */
@media (min-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0rem;
    }

    .container {
        width: 70%;
        margin-bottom: 10rem;
    }

    .foot {
        display: flex;

    }

    .foot li a {
        font-size: 2vw;
    }
}

/* @mixin for-tablet-portait-only { */
@media (min-width: 600px) and (max-width: 899px) {


    .foot {
        display: flex;

    }

    .foot li a {
        font-size: 2vw;
    }
}


/* @mixin for-tablet-landscape-up { */
@media (min-width: 900px) {
    .foot {
        display: flex;

    }

    .foot li a {
        font-size: 2vw;
    }
}

/* @mixin for-tablet-landscape-only { */
@media (min-width: 900px) and (max-width: 1199px) {
    .foot {
        display: flex;

    }

    .foot li a {
        font-size: 2vw;
    }
}

/* @mixin for-desktop-up { */
@media (min-width: 1200px) {
    .foot {
        display: flex;

    }

    .foot li a {
        font-size: 1.5vw;
    }
}

/* @mixin for-desktop-only { */
@media (min-width: 1200px) and (max-width: 1799px) {


    .foot {
        display: flex;

    }

    .foot li a {
        font-size: 1.5vw;
    }
}

/* @mixin for-big-desktop-up { */
@media (min-width: 1800px) {
    .foot {
        display: flex;

    }

    .foot li a {
        font-size: 1.5vw;
    }
}